<h1>Actors#new</h1>

<%= simple_form_for @actor do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :character %>
  <%= f.input :bio, input_html: {rows: 10 }%>
  <%= f.association :show, label_method: :title, prompt: true %>

  <% if false %>
    <div class="form-group">
      <%= f.label :show_id, "Show" %>
      <%= f.collection_select :show_id, Show.all, :id, :title, {prompt: true }, class: "form-control"%>
    </div>
  <% end %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
