<!DOCTYPE html>
<html>
<head>
  <title>Tv</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if alert %>
    <div class="alert alert-danger"><%= alert %></div>
  <% end %>

  <% if @current_user %>
    <%= link_to "Sign Out", sign_out_path %>
  <% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
