<!DOCTYPE html>
<html>
<head>
  <title>Pins</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= notice %>
  <% if alert %>
    <div class="alert alert-danger" role="alert">
      <%= alert %>
    </div>
  <% end %>

<div class="container">

  <% if @current_user.present? %>
    <nav>
      <div class="row">
        <div class="col-xs-6">
          Hi <%= @current_user.username %>!
        </div>
        <div class="col-xs-6">


          <div class="text-right">
            <%= link_to "New Pin", new_pin_path, class: "btn btn-default" %>
            <%= link_to "Sign Out", sign_out_path, class: "btn btn-default" %>
          </div>
        </div>
      </div>

    </nav>

  <% end %>
  <%= yield %>
</div>

</body>
</html>
