<h1>Session#new</h1>

<% if false %>
  <%= form_for @user, url: authenticate_path do |f| %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control'%>
    </div>
    <%= f.submit 'Sign In', class: "btn btn-primary" %>
  <% end %>

<% end %>

<%= form_tag authenticate_path, method: :post do %>
  <div class="form-group">
    <%= label_tag :username %>
    <%= text_field_tag :username, params[:username], class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password, '', class: 'form-control'%>
  </div>
  <%= submit_tag 'Sign In', class: "btn btn-primary" %>
<% end %>
